@include tablet{
    .nosotros{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        
    }
    p{
        margin: 0;
    }

    blockquote{
        margin-top: 0;
    }
    
}

.texto-nosotros blockquote{
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0;
    padding-left: 1rem 0 3rem 0;
}

